*{
    margin: auto;
    padding: auto;
}

h1{
    font-size: 30px;
    text-align: center;
}
table{
    margin: auto;
}

td{
    width: 100px;
    height: 100px;;
}

.vertical{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horitzontal{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.tot{
    border: 2px solid black;
}